body {
font-family: cinzel;
font-weight: 400;
color: rgb(255, 255, 255);
background-color: rgb(27, 27, 27);
}
/*Headings and logo*/
h1 { 
    font-family: cinzel Decorative;
    font-weight: bold;
}
#logo {
    text-align: center;
}
/*Navigation links*/
.topmenu {
    overflow: hidden;
    background-color: white;
}
.topmenu a {
    margin: 100px;
    color: black;
    text-align: center;
    padding: 70px;
    text-decoration: none;
    font-size: 33px;
}
.topmenu a:hover {
    color: grey;
}
/*first image and text*/
.first {
    background-size: cover;
    background-position: center;
    height: 430px;
    padding: 10px;
    background-image: url(../images/first.jpg);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0  6px 0 rgb(0, 0, 0);
    border-radius: 5px;
}
.first h2 {
    text-align: center;
    font-family: cinzel;
    font-size: 40px;
    color: silver;
}
/*car images and text*/
h2 {
text-align: center;
font-size: 50px;
color: silver;
}
div.image1 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 430px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 0 rgb(0, 0, 0);
    border-radius: 3px;
    }
div.image1 img {
width: 100%;
height: auto;
}

/*four images*/
div.image2 {
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: 432px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 0 rgb(0, 0, 0);
    border-radius: 3px;
    }
div.image2 img {
    width: 100%;
    height: auto;
}
